In [3]:
import pymongo

client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

mydb = client["Employee"]
empinfo = mydb.employeeinformation

In [5]:
record = {
    'firstname': 'Rohit',
    'lastname': 'Shende',
    'department': 'Electrical',
    'qualification': 'BE',
    'age': 24
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('667537612d65156630e1565b'), acknowledged=True)

In [6]:
records = [{
        'firstname': 'John',
        'lastname': 'Shende',
        'department': 'Electrical',
        'qualification': 'statistics',
        'age': 25
    },
    {
        'firstname': 'John',
        'lastname': 'Smith',
        'department': 'Electrical',
        'qualification': 'masters',
        'age': 30
    },
    {
        'firstname': 'Manish',
        'lastname': 'Shende',
        'department': 'Electrical',
        'qualification': 'phd',
        'age': 34
    },
    {
        'firstname': 'Ram',
        'lastname': 'Shende',
        'department': 'Electrical',
        'qualification': 'masters',
        'age': 32
    }]

In [7]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('667538ea2d65156630e1565c'), ObjectId('667538ea2d65156630e1565d'), ObjectId('667538ea2d65156630e1565e'), ObjectId('667538ea2d65156630e1565f')], acknowledged=True)

In [8]:
## Simple way of querying
empinfo.find_one()  # selecting top one record

{'_id': ObjectId('667537612d65156630e1565b'),
 'firstname': 'Rohit',
 'lastname': 'Shende',
 'department': 'Electrical',
 'qualification': 'BE',
 'age': 24}

In [10]:
## Select * from employeeinformation
empinfo.find({})

In [12]:
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('667537612d65156630e1565b'), 'firstname': 'Rohit', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'BE', 'age': 24}
{'_id': ObjectId('667538ea2d65156630e1565c'), 'firstname': 'John', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'statistics', 'age': 25}
{'_id': ObjectId('667538ea2d65156630e1565d'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Electrical', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('667538ea2d65156630e1565e'), 'firstname': 'Manish', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('667538ea2d65156630e1565f'), 'firstname': 'Ram', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'masters', 'age': 32}

In [13]:
## Query the json documents based on equality condition
# Select * from employeeinformation where firstname = Rohit

for record in empinfo.find({'firstname': 'Rohit'}):
    print(record)

{'_id': ObjectId('667537612d65156630e1565b'), 'firstname': 'Rohit', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'BE', 'age': 24}

In [14]:
## Query documents using query operators($in, $lt, $gt)
for record in empinfo .find({'qualification':{'$in':['phd', 'masters']}}):
    print(record)

{'_id': ObjectId('667538ea2d65156630e1565d'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Electrical', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('667538ea2d65156630e1565e'), 'firstname': 'Manish', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('667538ea2d65156630e1565f'), 'firstname': 'Ram', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'masters', 'age': 32}

## Operators
$lt = less than

$gt = greater than

In [15]:
## And and Query operators
for record in empinfo.find({'qualification': 'masters', 'age':{'$lt': 35}}):
    print(record)

{'_id': ObjectId('667538ea2d65156630e1565d'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Electrical', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('667538ea2d65156630e1565f'), 'firstname': 'Ram', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'masters', 'age': 32}

In [19]:
## OR operators($or)
for record in empinfo.find({'$or':[{'firstname':'Rohit'}, {'qualification': 'masters'}]}):
    print(record)

{'_id': ObjectId('667537612d65156630e1565b'), 'firstname': 'Rohit', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'BE', 'age': 24}
{'_id': ObjectId('667538ea2d65156630e1565d'), 'firstname': 'John', 'lastname': 'Smith', 'department': 'Electrical', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('667538ea2d65156630e1565f'), 'firstname': 'Ram', 'lastname': 'Shende', 'department': 'Electrical', 'qualification': 'masters', 'age': 32}

In [20]:
inventory = mydb.inventory

In [21]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

InsertManyResult([ObjectId('66753ebd2d65156630e15660'), ObjectId('66753ebd2d65156630e15661'), ObjectId('66753ebd2d65156630e15662'), ObjectId('66753ebd2d65156630e15663'), ObjectId('66753ebd2d65156630e15664')], acknowledged=True)

In [22]:
for records in inventory.find({'size': {'h':14, 'w':21, 'uom': 'cm'}}):
    print(records)

{'_id': ObjectId('66753ebd2d65156630e15660'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}