### MongoDB Aggregate And Group

1. avg
2. sum


$ means operator or feature

In [3]:
from pymongo import MongoClient

# Creation of object MongoClient
client = MongoClient("mongodb://127.0.0.1:27017/")

# Access database
mydatabase = client["Students"]

# Access collection of the database
collection = mydatabase["studentscores"]
data = [ 
    {"user":"Rohit", "subject":"Database", "score":80}, 
    {"user":"Krish",  "subject":"JavaScript", "score":90}, 
    {"user":"Krish",  "title":"Database", "score":85}, 
    {"user":"Aniket",  "title":"JavaScript", "score":75}, 
    {"user":"Krish",  "title":"Data Science", "score":60},
    {"user":"Rohit",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('66754dbe9663a4ff6ca26834'), ObjectId('66754dbe9663a4ff6ca26835'), ObjectId('66754dbe9663a4ff6ca26836'), ObjectId('66754dbe9663a4ff6ca26837'), ObjectId('66754dbe9663a4ff6ca26838'), ObjectId('66754dbe9663a4ff6ca26839')], acknowledged=True)

In [4]:
### Find Total subject for a user
agg_result = collection.aggregate(
    [{
    "$group":
        {"_id": "$user",
        "Total Subjects": {"$sum": 1}}
    }]
)

for i in agg_result:
    print(i)

{'_id': 'Rohit', 'Total Subjects': 2}
{'_id': 'Krish', 'Total Subjects': 3}
{'_id': 'Aniket', 'Total Subjects': 1}

In [5]:
### Calculating the total score
agg_result = collection.aggregate(
    [{
    "$group":  # $group is a operator
        {"_id": "$user",  # $user is a filter
        "Total Subjects": {"$sum": "$score"}}  # $score is a filter and $sum is operator
    }]
)
for i in agg_result:
    print(i)

{'_id': 'Rohit', 'Total Subjects': 175}
{'_id': 'Krish', 'Total Subjects': 235}
{'_id': 'Aniket', 'Total Subjects': 75}

In [6]:
### Calculating the average score based on user
agg_result = collection.aggregate([
    {
    "$group":
        {"_id": "$user",
        "StudentScoreAverage": {
            "$avg": "$score"
        }
    }
}
])
for i in agg_result:
    print(i)

{'_id': 'Aniket', 'StudentScoreAverage': 75.0}
{'_id': 'Rohit', 'StudentScoreAverage': 87.5}
{'_id': 'Krish', 'StudentScoreAverage': 78.33333333333333}

In [9]:
import datetime as datetime

In [10]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [11]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 6, 21, 10, 22, 36, 297369)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2024, 6, 21, 10, 22, 36, 297369)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2024, 6, 21, 10, 22, 36, 297369)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2024, 6, 21, 10, 22, 36, 297369)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 6, 21, 10, 22, 36, 297369)}]

In [12]:
mycollection = mydatabase["stores"]
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [13]:
### Calculating the average quantity and average 
agg_result = mycollection.aggregate([
    {
    "$group":
        {"_id": "$item",
        "avgAmount": {"$avg": {"$multiply": ["$price", "$quantity"]}},
         "avgQuantity": {"$avg": "$quantity"}
    }
}
])
for i in agg_result:
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}